# Install tools for BB-Recon script

# Assetfinder
# Install Go (Golang) if not already installed
# sudo apt-get install golang-go
# Install Assetfinder using Go
go install github.com/assetfinder/assetfinder@latest

# Subfinder
# Install Subfinder using Go
go install github.com/projectdiscovery/subfinder/v2/cmd/subfinder@latest

# Findomain
# Download and install Findomain from the GitHub releases page
# https://github.com/findomain/findomain/releases
# For example:
# wget https://github.com/findomain/findomain/releases/download/vX.Y.Z/findomain-linux-x64
# chmod +x findomain-linux-x64
# sudo mv findomain-linux-x64 /usr/local/bin/findomain

# GitHub Subdomains
# Install GitHub Subdomains using Go
go install github.com/gwen001/github-subdomains@latest

# Chaos Client
# Install Chaos Client using Go
go install github.com/chaos-release/chaos-client@latest

# httpx
# Install httpx using Go
go install github.com/projectdiscovery/httpx/cmd/httpx@latest

# httprobe
# Install httprobe using Go
go install github.com/tomnomnom/httprobe@latest

# Aquatone
# Install Aquatone from GitHub releases page
# https://github.com/aquaton/aquatone/releases
# For example:
# wget https://github.com/aquaton/aquatone/releases/download/vX.Y.Z/aquatone-linux-amd64-vX.Y.Z.tar.gz
# tar -xvf aquatone-linux-amd64-vX.Y.Z.tar.gz
# sudo mv aquatone /usr/local/bin/

# Nuclei
# Install Nuclei using Go
go install github.com/projectdiscovery/nuclei/v2/cmd/nuclei@latest

# Subzy
# Install Subzy from GitHub releases page
# https://github.com/lc/subzy/releases
# For example:
# wget https://github.com/lc/subzy/releases/download/vX.Y.Z/subzy-linux-amd64
# chmod +x subzy-linux-amd64
# sudo mv subzy-linux-amd64 /usr/local/bin/subzy

# Subjack
# Install Subjack from GitHub releases page
# https://github.com/haccer/subjack/releases
# For example:
# wget https://github.com/haccer/subjack/releases/download/vX.Y.Z/subjack-linux-amd64
# chmod +x subjack-linux-amd64
# sudo mv subjack-linux-amd64 /usr/local/bin/subjack

# SocialHunter
# Install SocialHunter from GitHub releases page
# https://github.com/aboul3la/Sublist3r
# For example:
# wget https://github.com/aboul3la/Sublist3r/archive/refs/tags/vX.Y.Z.tar.gz
# tar -xvf vX.Y.Z.tar.gz
# cd Sublist3r-X.Y.Z
# pip install -r requirements.txt

# SubJS
# Install SubJS from GitHub releases page
# https://github.com/ben9k/subjs/releases
# For example:
# wget https://github.com/ben9k/subjs/releases/download/vX.Y.Z/subjs-linux-x64
# chmod +x subjs-linux-x64
# sudo mv subjs-linux-x64 /usr/local/bin/subjs

# Katana
# Install Katana from GitHub releases page
# https://github.com/projectdiscovery/katana/releases
# For example:
# wget https://github.com/projectdiscovery/katana/releases/download/vX.Y.Z/katana-linux-amd64
# chmod +x katana-linux-amd64
# sudo mv katana-linux-amd64 /usr/local/bin/katana

# Waybackurls
# Install Waybackurls using Go
go install github.com/tomnomnom/waybackurls@latest

# amass
go install -v github.com/owasp-amass/amass/v4/...@master

# gau
go install github.com/lc/gau/v2/cmd/gau@latest

# naabu
go install github.com/projectdiscovery/naabu/v2/cmd/naabu@latest

# ffuf
go install github.com/ffuf/ffuf/v2@latest

# paramspider
pip install paramspider

# linkfinder
git clone https://github.com/GerbenJavado/LinkFinder.git
cd LinkFinder
pip install -r requirements.txt
# The script will ask for the path to linkfinder.py

# dalfox
go install github.com/hahwul/dalfox/v2@latest
